@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  canvas {
    margin: auto;
  }

  #formRegister {
    position: relative;
    width: 240px;
    height: 576px;
    background: rgba(0, 0, 0, 0.42);
    padding: 10px;

    input.slv-input {
      width: 100%;
      height: 40px;
      line-height: 40px;
      display: block;
      padding: 5px;
      transition: .3s;
      background: rgba(0, 0, 0, 0.8);
      color: #f9f9f9;
      border: none;
      outline: none;
      font-size: 14px;

      &::placeholder {
        font-size: 13px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid rgba(255, 207, 120, 0.71);
      }

      border: 1px solid rgba(255, 207, 120, 0.71);
      margin-bottom: 10px;
    }

    label {
      font-size: 14px;
      color: #f9f9f9
    }

    img {
      display: block;
      margin: auto;
    }

    #btn-login {
      text-decoration: none;
      position: relative;
      padding: 7px;
      color: #fff;
      letter-spacing: 2px;
      border-radius: 40px;
      text-transform: uppercase;
      transition: .5s;
      display: block;
      width: 80%;
      font-size: 14px;
      margin: auto;
      text-align: center;
      margin-top: 30px;
      background: transparent;
      overflow: hidden;
      border: 2px solid #fff;
      &:hover {
        background: rgba(0, 0, 0, 0.73);
        border-style: dashed;
      }
    }

    .social-login {
      margin-top: 30px;
      div {
        font-size: 12px;
        color : #24c1fe;
        pointer-events: none;
      }
      ul {
        display: flex;
        margin: 0;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
        li {
          a {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            margin: 10px 10px;
            color: #fff;
            transition: .3s;
            &:hover {
              transform: rotateZ(360deg);
              box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.65);
            }
          }
          &:nth-child(1) a{
            background: #4267B2;
          }
          &:nth-child(2) a{
            background: #DD5347;
          }
          &:nth-child(3) a{
            background: #24292F;
          }
        }
      }
    }
  }
}


